.input{
  height: 36px;
  position: relative;
  span{
    position: absolute !important;
    right: 0;
  }
}

.wrap{
  position: relative;
}

.passwordImg{
  position: absolute !important;
  right: 10px;
  bottom:0
}