.authorization{
 .title{
   font-size: 28px;
   margin: 0;
   line-height: 28px;
  }
  .children{
    margin-top: 32px;
  }
  .description{
    color: #919399;
    margin: 12px 0 30px 0;
  }
  .button{
    margin-top: 22px;
  }
}