.header{
  padding: 25px 160px;
  display: flex;
  justify-content: space-between;
  .out{
    display: flex;
    align-items: center;
    color: #DD0A34
  }
  .phone{
    color: #DD0A34
  }
  .logoWrap{
    display: flex;
  }
}

.authorizedHeader{
  background: #ffffff;
  box-shadow: 0 0 16px rgba(79, 105, 118, 0.1);
  padding: 10px 25px;
  width: 100%;
}

.burger{
  display: none;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .burger{
    display: flex;
  }
}
